// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Codemirror
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/dracula.css';

#sidebar-wrapper {
    width: 8em;
}

#page-content-wrapper {
    width: 100%;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
